.student_status_table{
    width: 99%;
    margin: auto;
    padding: 10px;
    text-align: left;
    border: none;
    border-spacing: 5px;
    position: relative;
}

.test-head h2{
    font-size: 20px;
}

.test-head{
    position: sticky;
    top: 0;
}


table.student_status_table thead{
    font-weight: 500;
    font-family:cursive;
}

table.student_status_table td{
    border: none;
    font-size: small;
    font-weight: 600;
    font-family: monospace;
    border-top: 3px solid blue;
    margin-bottom: 2vh;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(155, 137, 255, 0.541), -1px 0px 1px rgba(155, 137, 255, 0.541);
}

table.student_status_table .name{
    width: 15vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
table.student_status_table .id{
    width: 39vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
table.student_status_table .gmail{
    width: 31vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table.student_status_table th{
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: #1100ff;
    color: aliceblue;
}

 
.School-div{
    margin: auto;
    max-width: fit-content;
    color: rgb(19, 3, 247);
    border-radius: 5px 5px 0px 0px;
    text-align: justify;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    border-top: 5px solid blue;
    box-shadow: 1px 1px 1px rgb(177, 159, 255), -1px 0px 1px rgb(177, 159, 255);
    font-size: 20px;
}

.School-input, select{
    width: 400px;
    border-radius: 5px 5px 5px 5px; 
    /* box-shadow: 2px 2px 1px rgb(152, 203, 226), -2px -2px 1px rgb(152, 203, 226); */
    font-family: monospace;
    font-weight: 700;
    font-size: 20px; 
    background-color: rgb(136, 136, 255);
    color: rgb(255, 255, 255);
    padding: 5px;
}
input.School-input[type='text'], select{
    border: none;
}

input::placeholder{
    color: rgb(255, 255, 255);
    font-weight: 300;
}

input[type='text']:focus,
select:focus{
    border: none;
    outline: none;
    color: blue;
    /* background-color: aliceblue; */
    /* border: 2px rgb(61, 61, 243) solid; */
}

.School-submit{
    box-shadow: 2px 2px 5px rgb(153, 147, 147);
    border-radius: 2px 5px 2px 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: rgb(52, 52, 218);
    color: aliceblue;
}

.School-textarea{
    border: none;
    font-family: cursive;
    font-size: 15px;
    outline: none;
    background-color: aliceblue;
    border: 2px rgb(61, 61, 243) solid;
    max-width: 100%;
    margin-bottom: 5vh;
    border-radius: 5px;
    padding: 10px;
}

.School-textarea::placeholder{
    color: rgb(173, 193, 212);
}

#School-info{
    width: 100%;
    font-size: 18px;
    background-color: royalblue;
    border-radius: 2px 2px 2px 2px;
    color: white;
}


.notification-container {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-family: cursive;
    text-align: center;
    color: #007bff;
}

.notify.notification {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.class-select.notification {
    width: 100%;
    padding: 10px;
    margin: auto;
    color: #1100ff;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

textarea.notification {
    width: 100%;
    padding: 10px;
    min-height: 20vh;
    margin-bottom: 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    outline: none;
}

textarea.notification::placeholder {
    color: #999;
}

button.notification {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

button.notification:hover {
    background-color: #0056b3;
}

.smp_help_and_support{
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding: 5px;
}
.smp_help_and_support:hover{
    border: 2px solid white;
    transform: scale(1.02);

}
.smp_help_and_support a{
    display: block;
    color: rgb(12, 12, 12);
    font-family:cursive;
    text-decoration: none;
    font-weight: 800;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;
    background-color: aliceblue;
}
.smp_help_and_support a:hover{
    background-color: rgb(210, 234, 255);
}

.smp_help_and_support i{
    font-size: 35px;
    margin-right: 1vw;
}

.smp_help_and_support .x{
    color: black;
}
.smp_help_and_support .linkedin,
.smp_help_and_support .phone,
.smp_help_and_support .mail{
    color: #1900ff;
}
.smp_help_and_support .whatsapp{
    color: #00ff00;
}
.smp_help_and_support h5{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.logout button{
    padding: 10px 20px 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 15px;
    font-style: italic;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 5px 0 5px 0;
    cursor: pointer;
}
.logout button:hover{
    background-color: rgba(255, 0, 0, 0.856);
}

.test-content{
    /* overflow-y: scroll; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.test-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.registration_control{
    /* background-color: #00ff00; */
    position: fixed;
    bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 1px 1px 3px rgb(194, 188, 188), -1px -1px 3px rgb(194, 188, 188);
}

.registration_control form{
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-color: #1900ff;
    color: aliceblue;
    border-radius: 5px;
}

.registration_control input,
.registration_control option,
.registration_control select{
    border: none;
    outline: none;
    background-color: aliceblue;
    color: black;
    padding: 5px;
}

.registration_control input{
    width: 40%;
    font-size: 20px;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 900;
}

.registration_control button{
    background-color: #007bff;
    color: aliceblue;
    padding: 7px;
    font-weight: 800;

}
.registration_control .rem{
    background-color: #ff0000d8;
    color: aliceblue;
    padding: 7px;
    font-weight: 800;

}

.registration_control button:hover{
    background-color: aliceblue;
    color: #1100ff;
}
.registration_control .rem:hover{
    background-color: aliceblue;
    color: #ff0000;
}

.registration_control h3{
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5vh;
}