body{
    background-color: #555;
}
main{
    margin-top: 13%;
}
h1{
    background-color: rgb(39, 39, 48);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 1%;
    /* position: ; */

    /* top: 100px; */
}
   td{
    text-overflow: ellipsis;
    font-size: small;
    /* text-align: center; */
    max-width: 40px;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    font-family: monospace;
}
.head{
    z-index: 2;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: #cccccc;
}
.id{
    background-color: rgb(39, 39, 48);
    width: 30%;
}

th{
    text-align: center;
    font-family: cursive;
}
table{
    max-width: 70%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 5%;
}
ul{
    position: fixed;
    height: 100%;
    /* padding: 20px; */
    width: 20%;
    list-style-type: none;
    line-height: 40px;
}
li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    background-color: rgb(39, 39, 48);
    margin-bottom: 5%;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    }

    li a.active {
    background-color: #666666;
    color: white;
    }

    li a:hover:not(.active, .logout) {
    background-color: #555;
    color: white;
    text-decoration: none;
    }

    .activeform{
        min-width: 40%;
        float: right;
        margin-right: 25%;
        border: 1px rgb(255, 255, 255) solid;
        padding: 20px;
        box-shadow: 5px -2px 5px rgb(131, 130, 130);
        border-radius: 20px;
    }

    .activeform label{
        color: black;
        font-weight: 800;
        font-family: monospace;
    }


    .logout{
        font-size: larger;
    }
    .logout:hover{
        background-color: red;
        text-decoration: none;
        color: white;
    }