/*CSS COMMENT*/
*{   
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --color-dark: #181d38;
    --color-success:#06BBCC;
    --color-warning: #FFC107;
    --color-danger: #FF5722;
    --color-danger-variant:  
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-b2: #424890;
    --container-width:-lg: 76%;/* Default value for other screen sizes*/
    --container-width:-md: 90%;
    --container-width:-sm: 94%;
    --transition: all 400ms ease;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 9rem;
    overflow-x: hidden;
    font-size: 62.5%;
}
.btn {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: max-content;
    border: .1rem solid var(--color-success);
    background-color: var(--color-bg1);
    padding: 1.2rem 4,5rem;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem;
}
.btn::before {
    content: "";
    position: absolute;
    bottom: 100%; left: 50%;
    transform: translateX(-50%);
    width: 200%; height: 200%;
    border-radius: 50%;
    background-color: var(--color-success);
    transition: 400ms ease;
    z-index: -1;
}
.btn .text {
    transition: 200ms ease;
}
.btn .text-2 {
    color: var(--color-warning);
    max-width: max-content;
    position: absolute;
    transform: translateX(-50%);
    top: 100%; left: 50%;
}
.btn:is(:hover, :focus-visible)::before {
    bottom: -50%;
}
.btn:is(:hover, :focus-visible) .text-1 {
    transform: translateY(-4rem);

}
.btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
}


/* header */
.header {
    position: fixed;
    top: 0, left: 0; right: 0;
    width: 100%;
    padding: 2vh 6vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    box-shadow: 2px 2px 10px rgb(0, 0, 0.15);
    background-color: var(--color-white);
}
.header .logo{
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-b2);
    
}
.header .logo i{
    padding-right: .5rem;
    color: var(--color-b2);
    
}
.header .navbar a {
    font-size: 1.8rem;
    color: var(--color-b2);
    margin: 0 1.5rem;
    padding-block: 1rem;
    
}
.header .navbar a:hover {
    color: var(--color-success);
}
.header .navbar .hover-underline {
    position: relative;
    max-width: max-content;
}
.header .navbar .hover-underline::after{
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 5px;
    opacity: 0;
    border-block: 2px solid var(--color-success);
    transform: scaleX(0.2);
    transition: 400ms ease;
}
.header .navbar .hover-underline:is(:hover, :focus-visible)::after{
    opacity: 1;
    transform: scaleX(1);
}
.header .icons div {
    cursor: pointer;
    color: var(--color-b2);
    font-size: 2.5rem;
    margin-left: 1.7rem;
}
.header .icons div:hover {
    color: var(--color-success);
    transition: 0.3s ease;
}
.header .login-form{
    position: absolute;
    top: 115%; right: -105%;
    width: 35rem;
    padding: 2rem;
    background: var(--color-danger-variant);
    box-shadow: .5rem;
    box-shadow: var(--box-shadow);
}
.header .login-form .active {
    transition: .4s linear;
    right: 2rem;
}
.header .login-form h3{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: .7rem;
    color: var(--color-dark);
}
.header .login-form .box {
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    margin: .7rem 0;
    border: .1rem solid rgba(66, 244, 247, 0.5);
    color: var(--color-b2;
    width: 100%;
    text-transform: none;
}
.header .login-form .remember {
    display: flex;
    align-items: center;
    margin: .7rem 0;
    gap: .5rem;
}
.header .login-form .label {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-b2);
}
/* home */
#home {
    background-image: linear-gradient(rgba(79, 75, 122, 0.316), rgba(148, 148, 242, 0.7)), url(graduation\ bg.jpg);
}

