{% extends 'auth_template/school_admin/third_layout.html' %}

{% block main %}
   <div class="available test">
       <div class="available test-head">
           <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-user"></i></h2><span class="header">Active Students</span>  
       </div>
       <div class="available test-content" style="min-width: 95%; min-height: 85vh;">
           <!-- dynamic section -->
            <table class="student_status_table" border="1px" style=" margin-top: 3vh;">
                <thead>
                    <th class="name">First_name</th>
                    <th class="name">Last_name</th>
                    <th class="name">Class</th>
                    <th class="id">ID</th>
                    <th class="gmail">Gmail</th>
                </thead>
                <tbody>
                    {% for student in students %}
                        {% if student.status %}
                            <tr>
                            <td class="name" title="{{ student.first_name }}">{{ student.first_name }}</td>
                            <td class="name" title="{{ student.last_name }}">{{ student.last_name }}</td>
                            <td class="name" title="{{ student.class_.name }}">{{ student.class_.name }}</td>
                            <td class="id" title="{{ student.id }}">{{ student.id }}</td>
                            <td class="gmail" title="{{ student.gmail }}">{{ student.gmail }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>

            </table>
            
       </div>
   </div>
{% endblock main %}