{% extends 'auth_template/school_admin/third_layout.html' %}

{% block main %}
   <div class="available test">
       <div class="available test-head" style="position: relative;">
           <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-sliders"></i></h2><span class="header">Upload Resources and Tests Here</span>  
       </div>
       <div class="available test-content" style="min-width: 95%; min-height: 80vh;"><hr><hr>

                <!-- dynamic section -->
                <div class="col-md-8"style="margin-left: 15%;">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash-message {{ category }}" style="text-align: center; width: 30vw; margin-left: 5%;">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            <form action="" method="post" enctype="multipart/form-data" style="margin-top: 5vh;" class="student-submit-form">
                <label for="submit_project_file" class="submit-label">Upload Resources and Tests:</label>
                <input type="file" id="submit_project_file" name="file" class="submit-file" accept=".pdf, .txt" required>
                
                <label for="submit_project_name" class="submit-label">Choose Upload Type:</label>
                <select id="submit_project_name" name="file_type" class="submit-select" required>
                    <option value="RESOURCES">Resources</option>
                    <option value="TEST">Test</option>
                </select>

                <label for="submit_project_name" class="submit-label">Choose Class:</label>
                <select id="submit_project_name" name="class" class="submit-select" required>
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>

                <label for="submit_project_name" class="submit-label">File description:</label>
                <textarea name="description" cols="50" rows="2" placeholder="Physics Test 101" maxlength="450" style="background-color: royalblue; color: white;" class="School-textarea" required></textarea>

                <input type="submit" value="Submit" class="submit-button">
            </form>
            
        </div>
       
    </div>

    <div class="available test">
        <div class="available test-head">
            <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-share-from-square"></i></h2><span class="header">Delete Resources ans Tests here</span>  
        </div>
        <div class="available test-content" style="min-width: 95%; min-height: 30vh;"><hr><hr>

            <form method="post" action="" class="" style="width: 95%; margin: auto;">
                <div class="col-12">
                  <div class="input-del-group">
                    <span class="input-del-text">ID</span>
                    <input type="text" class="input-del" placeholder="0efb360011..." name="id" required>
                  </div>
                </div>
        
                  <button type="submit" class="button-del" style="margin-top: 5vh; margin-left: 45%;">Delete</button>
              </form>
        </div>
   </div>
{% endblock main %}