{% extends 'auth_template/school_admin/third_layout.html' %}

 

{% block main %}
   <div class="available test">
       <div class="available test-head">
           <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-feather"></i></h2><span class="header">Classes</span>  
       </div>
       <div class="available test-content" style="min-width: 95%; min-height: 45vh;"><hr><hr>
           <!-- dynamic section -->
            <table class="student_status_table" border="2px">
                <thead>
                    <th class="name" style="width: 50%;">Available Classes</th>
                    <th class="id">Created Date</th>
                </thead>
                <tbody>
                    {% for class in classes %}
                            <tr>
                            <td class="name" title="{{ class.name }}">{{ class.name}}</td>
                            <td class="id" title="{{ class.created_at }}">{{ class.created_at }}</td>
                            </tr>
                    {% endfor %}
                </tbody>

            </table>
            
        </div>

        <div class="message_pack" style="margin-top: 10vh;">
            <div class="col-md-8"style="margin-left: 18%;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="flash-message {{ category }}" style="text-align: center; width: 30vw; margin-left: 5%;">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            <div class="School-div" style="margin-top: 3vh;">
                <header style="text-align: center;">Create Class</header>
                
                <form action="" method="post">
                    <div>
                        {{ form.hidden_tag() }}
                        {{ form.name.label() }}
                        {% if form.name.errors %}
                            {% for error in errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            {{ form.name(class="School-input") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.submit(class="School-submit") }}
                    </div>
                </form> 
            </div>
        </div>
   </div>
{% endblock main %}