{% extends 'auth_template/school_admin/third_layout.html' %}

{% block bootstrap %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Hanken+Grotesk:ital,wght@0,500;0,700;1,800&display=swap" rel="stylesheet">
<style>
    body{
        background-color: rgb(255, 255, 255);
    }

    .column2{
        /* background-color: rgb(241, 185, 185); */
        margin-top: 0;
        margin-left: 20.3%;
        width: 59.5%;
    }
    .available.test{
        position: sticky;
        top: 0;
        width: 100%;
        margin-top: 0;
    }
    .box-container{
        display: flex;
        flex-direction: row;
        /* flex-grow: 1 1 1; */
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5vh;
        justify-content: space-between;
    }
    .box{
        position: relative;
        width: 28%;
        height: 19vh;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 3px rgba(76, 14, 219, 0.137), -1px -1px 3px rgba(76, 14, 219, 0.144);
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
        font-family: "Hanken Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .p-icon{
        position: absolute;
        right: 15%;
        top: 8%;
        font-size: 70px;
        margin-left: 5vw;
        color: blue;
    }
    .box h3{
        margin-top: 9vh;
        text-align: center;
        
    }
    .p-amount{
        position: absolute;
        padding: 15px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        font-size: 2em;
        width: 40%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 1px 1px 1px rgba(0, 0, 255, 0.541), -1px -1px 1px rgba(39, 39, 255, 0.514);
        /* border: 2px blue outset; */
        /* background-color: blue; */
        color:blue;
    }
    .school-info{
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: fit-content;
        font-family: "Hanken Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        padding: 1vw;
        padding-top: 0;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.075), -1px -1px 4px rgba(0, 0, 0, 0.075);
        border-top: 5px solid blue;
        margin: auto;
        margin-top: 5vh;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .school-info .info{
        height: 10%;
        margin-bottom: 4%;
    }
    .school-info h3{
        text-align: center;
        margin-bottom: 5vh;
        border-bottom: 1px solid blue;
        padding-bottom: 2vh;
    }
    .school-info .key{
        min-width: 30%;
        margin-right: 20%;
        margin-left: 10%;
        border-top: 5px solid blue;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(196, 196, 245, 0.397), -1px -1px 1px rgba(196, 196, 245, 0.397);
    }
    .school-info .value{
        border-top: 5px solid blue; 
        width: 30vw;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 1px 1px 1px rgba(196, 196, 245, 0.397), -1px -1px 1px rgba(196, 196, 245, 0.397);
    }
    .pic_submit{
        background-color: blue;
        color: white;
        padding: 10px;
        font-weight: 900;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgb(221, 214, 214);
    }
</style>

{% endblock bootstrap %}

{% block main %}

<div class="available test">
    <div class="available test-head">
        <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-pen-to-square"></i></h2><span class="header">School Dashboard</span>  
    </div>
    <div class="box-container">
        <div class="box"> <span class="p-amount">{{ active_student_count }}</span> <br> <h3>Active Students</h3> <span class="p-icon"><i class="fa-solid fa-user"></i></span></div>
        <div class="box"> <span class="p-amount">{{ inactive_student_count }}</span> <br> <h3>Inctive Students</h3> <span class="p-icon"><i class="fa-regular fa-user"></i></span></div>
        <div class="box"> <span class="p-amount">{{ resources_count }}</span> <br> <h3>Resources</h3> <span class="p-icon"><i class="fa-solid fa-book"></i></span></div>
        <div class="box"> <span class="p-amount">{{ class_count }}</span> <br> <h3>Classes</h3> <span class="p-icon"><i class="fa-solid fa-feather"></i></span></div>
        <div class="box"> <span class="p-amount">{{ test_count }}</span> <br> <h3>Tests</h3> <span class="p-icon"><i class="fa-solid fa-file"></i></span></div>
    </div>

    <div class="school-info">
        <h3>Basic info</h3>
        <div class="info"><span class="key">School Full_Name:</span><span class="value">{{ current_user.name }}</span></div>
        <div class="info"><span class="key">School Gmail Acc:</span><span class="value">{{ current_user.gmail }}</span></div>
        <div class="info"><span class="key">School PhoneNum:</span><span class="value">{{ current_user.phone_address }}</span></div>
        {% if current_user.strict_registration %}
            <div class="info"><span class="key">Registration Mode:</span><span class="value">Strict Registration</span></div>
        {% else %}
            <div class="info"><span class="key">Registration Mode:</span><span class="value">Basic Registration</span></div>
        {% endif %}
    </div>

    <div class="school-info">
        <h3>Update Profile</h3>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="pic"><small class="profile_label"></small></label>
            <input type="file" id="pic" class="profile_pic" name="profile_pic" accept=".jpg, .png, .jpeg" required>
            <button type="submit" class="pic_submit">Upload Picture</button> 
        </form>
    </div>
</div>
    
{% endblock main %}
 
