{% extends 'auth_template/school_admin/third_layout.html' %}

{% block main %}
<h2>Send Notification to Students</h2>

<div class="col-md-8"style="margin-left: 18%;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message {{ category }}" style="text-align: center; width: 30vw; margin-left: 5%;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

    <div class="notification-container">
        <form action="" method="post">
            <label class="notify notification" for="class_select">Select Class:</label>
            <select name="class_id" id="class_select" class="class-select notification" required>
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
                <!-- Add more options as needed -->
            </select>
            <label class="notify notification" for="message">Message:</label>
            <textarea name="message" id="message" placeholder="Type your message here..." class="notification" maxlength="690" required></textarea>
            <button type="submit" class="notification">Send Notification</button>
        </form>
    </div>
{% endblock main %}