{% extends 'auth_template/school_admin/third_layout.html' %}


{% block main %}
   <div class="available test">
       <div class="available test-head">
           <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-share-from-square"></i></h2><span class="header">Manipulate Student Informations</span>  
       </div>
       <div class="available test-content" style="min-width: 95%; min-height: 85vh;"><hr><hr>
           <!-- dynamic section -->
           <div class="col-md-8"style="margin-left: 15%;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash-message {{ category }}" style="text-align: center; width: 30vw; margin-left: 5%;">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
           <div class="School-div">
            <header style="text-align: center;">Update Info</header>
            <form method="post" action="">
                <label for="subtitle">Id:</label><br>
                <input type="text" id="subtitle" name="id" class="School-input" placeholder="0efb360011..." required>
                    <br><br>
                <label for="subtitle">Info:</label><br>
                <select name="info" id="School-info" required>
                    <option value="first_name">first_name</option>
                    <option value="last_name">last_name</option>
                    <option value="gmail">gmail</option>
                </select>
                <br><br>
                <label for="subtitle">New Value:</label><br>
                <input type="text" id="subtitle" name="new_value" class="School-input" placeholder="smart..." required>
        
                <br><br>
                <input type="submit" value="update" class="School-submit">
            </form> 
        </div>
            

        <div class="School-div" style="margin-top: 20vh;">
            <header style="text-align: center;">Update Student Status</header>
            <form method="post" action="">
                <label for="subtitle">Id:</label><br>
                <input type="text" name="id" class="School-input" placeholder="0efb360011..." required>
                    <br><br>
                <label for="subtitle">Status:</label><br>
                <select name="status" id="School-info" required>
                    <option value='1'>Active</option>
                    <option value='0'>Inactive</option>
                </select>
                <br><br>
                <input type="submit" value="update" class="School-submit">
            </form> 
        </div>

        <div class="School-div" style="margin-top: 20vh;">
            <header style="text-align: center;">Update Student Class</header>
            <form method="post" action="">
                <label for="subtitle">Id:</label><br>
                <input type="text" name="id" class="School-input" placeholder="0efb360011..." required>
                    <br><br>
                <label for="subtitle">Class:</label><br>
                <select name="class" id="School-info" required>
                    {% for class in classes %}
                        <option value='{{ class.id }}'>{{ class.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="update" class="School-submit">
            </form> 
        </div>

        <div class="School-div" style="margin-top: 20vh; margin-bottom: 10vh;">
            <header style="text-align: center;">Update Student Score</header>
            <form method="post" action="">
                <label for="subtitle">Student Id:</label><br>
                <input type="text" name="student_id" class="School-input" placeholder="0efb360011..." required>
                    <br><br>
                <label for="subtitle">Choose Test:</label><br>
                <select name="test_id" id="School-info" required>
                    {% for test in tests %}
                        <option value='{{ test.id }}'>{{ test.description }}</option>
                    {% endfor %}
                </select>
                <label for="subtitle">Score:</label><br>
                <select name="score" id="School-info" required>
                    {% for score in score_range %}
                        <option value='{{ score }}'>{{ score }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="update" class="School-submit">
            </form> 
        </div>

       </div>
   </div>
{% endblock main %}