<!DOCTYPE html>
<html lang="en">
<head>
<title>SMP - {{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SMP - {{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/smp_student_dash_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/smp_school_style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='/images/smp1.ico') }}" type="image/x-icon">
<script src="https://kit.fontawesome.com/e637a9e731.js" crossorigin="anonymous"></script>
</head>
<body id="body">


<div class="row">
  <div class="column1">
    <div class="header">
        <h2 class="username">Hi, <small>{{ current_user.first_name }}</small></h2>
        <ul>
            <li><a href="{{ url_for('student_dash') }}"><i class="fa-solid fa-pen-to-square"></i><small> Dashboard</small></a></li>
            <li><a href="{{ url_for('student_note') }}"><i class="fa-regular fa-bell"></i><small> Notification</small></a></li>
            <li><a href="{{ url_for('student_submit') }}"><i class="fa-solid fa-file"></i><small> SubmitTest</small></a></li>
            <li><a href="{{ url_for('student_resource') }}"><i class="fa-solid fa-book"></i><small> Resources</small></a></li>
            <li><a href="{{ url_for('student_profile') }}"><i class="fa-solid fa-user"></i><small> Profile</small></a></li>
        </ul>
      </div>
      
    
  </div>
  
  <div class="column2">
        {% block main %}
        {% endblock main %}
  </div>
  
  <div class="column3">
    <h2 class="username">{{ current_user.school.name }}</h2>
    <img src="{{ url_for('static', filename='Files/user_profile_pics/' + school_pic_name) }}" alt="my school" class="school_logo" title="{{ current_user.school.name }} logo">

    <div class="smp_help_and_support">
      <hr><hr>
      <h5>Connect with SMP for Assistance and Support</h5>
      <a href="mailto:sccsmart2472gmail.com" target="_blank"><i class="fa-solid fa-envelopes-bulk mail"></i>SMP@gmail.com</a>
      <a href="tel:+2349017627228" target="_blank"><i class="fa-solid fa-phone-volume phone"></i> Phone</a>
      <a href="https://twitter.com/EmmanuelAy85364" target="_blank"><i class="fa-brands fa-square-x-twitter x"></i> Twitter</a>
      <a href="https://www.linkedin.com/in/emmanuelayobami/" target="_blank"><i class="fa-brands fa-linkedin linkedin"></i> LinkedIn</a>
      <a href="tel:+2349017627228" target="_blank"><i class="fa-brands fa-square-whatsapp whatsapp"></i> WhatsApp</a>
      <hr><hr>
    </div>
    <div class="logout">
      <a href="{{ url_for('logout') }}"><button type="button">logout</button></a>
    </div>
  </div>
</div>

</body>
</html>


