{% extends 'auth_template/student/second_layout.html' %}

{% block main %}

<div class="available test">
    <div class="available test-head">
        <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-file"></i></h2><span class="header">Submit Here</span>  
    </div>
    <div class="available test-content" style="height: 80vh;"><hr><hr>
        <!-- dynamic section -->
        <div class="col-md-8"style="margin-left: 15%;">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="flash-message {{ category }}" style="text-align: center; width: 30vw; margin-left: 5%;">
                  {{ message }}
              </div>
              {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
        
        <form action="" method="post" enctype="multipart/form-data" style="margin-top: 15vh;" class="student-submit-form">
            <label for="submit_project_file" class="submit-label">Select Project Solution File:</label>
            <input type="file" id="submit_project_file" name="submitted_file" class="submit-file" accept=".pdf, .txt, .doc, .docx" required>
            
            <label for="submit_project_name" class="submit-label">Select Project to Submit:</label>
            <select id="submit_project_name" name="test_id" class="submit-select" required>
                {% for test in resources %}
                    <option value="{{ test.id }}">{{ test.description }}</option>
                {% endfor %}
            </select>
            
            <input type="submit" value="Submit" class="submit-button">
        </form>
      
    </div>
</div>

{% endblock main %}