 {% extends 'auth_template/student/second_layout.html' %}

 {% block main %}
    <div class="available test">
        <div class="available test-head">
            <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-pen-to-square"></i></h2><span class="header">Available Tests</span>  
        </div>
        <div class="available test-content"><hr><hr>
            <!-- dynamic section -->
            {% for file in resources %}
                    <div class="content">
                        <span class="test-decsripion">{{ file.description }}</span><span class="test-link"><a href="{{ url_for('student_view', id_=file.id) }}" target="_blank"><button>Take Test</button></a></span>
                    </div>
            {% endfor %}
        </div>
 
    </div>

    <div class="done test">
        <div class="done test-head">
            <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-pen-to-square"></i></h2><span class="header">Completed Tests</span>  
        </div>
        <div class="done test-content"><hr><hr>
            <!-- dynamic section -->
            {% for file in results %}
                <div class="content">
                    {% if file[1] %}
                        <span class="test-decsripion">{{ file[0].description }}</span><span class="test-link"><a><button style="cursor: default;">{{ file[1] }}%</button></a></span>
                    {% else %}
                        <span class="test-decsripion">{{ file[0].description }}</span><span class="test-link"><a><button style="cursor: default;">---</button></a></span>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock main %}
  
 