{% extends 'auth_template/student/second_layout.html' %}

{% block main %}

<div class="available test">
    <div class="available test-head">
        <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-regular fa-bell"></i></h2><span class="header">Notifications</span>  
    </div>
    <div class="available test-content" style="height: 80vh;"><hr><hr>
        <a href="#empty-foot-locator" class="latest-notification"><i class="fa fa-hand-o-down" aria-hidden="true"></i></a>
        <!-- dynamic section -->
        {% for message in messages %}
                <div class="notification">
                    <fieldset>
                        <legend>{{ message.created_at }}</legend>
                        {{ message.message }}
                    </fieldset>
                </div>
            {% endfor %}
        <div id="empty-foot-locator"></div>
      
    </div>
</div>

{% endblock main %}