{% extends 'auth_template/student/second_layout.html' %}

{% block main %}

<div class="available test">
    <div class="available test-head">
        <h2 class="logo"><i class="fa-solid fa-pen"></i><i class="fa-solid fa-user"></i></h2><span class="header">My profile</span>  
    </div>
    <div class="available test-content" style="height: 80vh;"><hr><hr>
        <!-- dynamic section -->
        
        <div class="student-profile-pic">
            <img src="{{ url_for('static', filename='Files/user_profile_pics/' + pic_name) }}" alt="My Profile Picture" title="My Profile Picture">

            <form action="" method="post" enctype="multipart/form-data">
                <label for="pic"><small class="profile_label"></small></label>
                <input type="file" id="pic" class="profile_pic" name="profile_pic" accept=".jpg, .png, .jpeg" required>
                <button type="submit">Upload Picture</button> 
            </form>
            <a href="{{ url_for('logout') }}"><button style="background-color: red; margin-top: 20vh;">Logout</button></a>
        </div>
        <div class="student-profile-info">
            <table>
                <tr>
                    <th>FirstName</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th>Id_</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Gmail</th>
                    <td>{{ user.gmail }}</td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td>{{ user.class_.name }}</td>
                </tr>
                <tr>
                    <th>School</th>
                    <td>{{ user.school.name }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock main %}